
@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Shares/_LayoutGuest.cshtml";
}
<header class="main-header">
    <!-- Logo -->
    <a href="@Url.Action("Index","Home")" class="logo">
        <!-- mini logo for sidebar mini 50x50 pixels -->
        <span class="logo-mini"><b>L</b>ove</span>
        <!-- logo for regular state and mobile devices -->
        <span class="logo-lg"><b>Wii</b>Love</span>
    </a>
    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top">

        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">

                <li>
                 
                </li>
               
            </ul>
        </div>
    </nav>
</header>
<h2>Error</h2>

